p {
    cursor: pointer;
    width: 30%;
    text-align: center;
    position: relative;
    left: 35%;
}

p:hover {
    color: brown;
}

img {
    display: block;
    position: relative;
   	width: 50%;
    left: 25%;
}

body, html{
	height:100%;
}

h1{
	text-align: center;
	font-family: Arial;
	font-size: 2em;
}

h3{
	text-align: center;
	font-family: cursive;
}

.cid{
	display: none;
}

.content {
    position: relative;
    width: 100%;
}