*{
    text-align: center;
    font-family:  'Trocchi', serif;
}
img {
    display: block;
    position: relative;
    width: 50%;
    left: 25%;
}

body,
html {
    background: #fff4a3;
    height: 100%;
}

h1 {
    font-size: 2em;
}

#count {
    font-size: 1em;
    position: relative;
    top: 1em;
}

#cats {
    display: none;
}

li{
    text-align: left;
}